:root {
    --lightest-brown: #C3A995;
    --light-brown: #AB947E;
    --mocha: #6F5E53;
    --chocolate: #593D3B;
}

body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,0.7413340336134453) 100%);
    font-family: 'Lora', serif;
}
.header{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);
    border-bottom: 3px solid var(--chocolate);
    margin-bottom: 10px;
}
img {
    width: min(35vw, 350px);
    margin-bottom: 15px;
}

.card-title {
    font-size: min(3vw, 24px);
}

.card-body {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    height: min(15vw, 100px);
    /*position: relative;*/
    padding: 0;
}

.card:hover {
    background-color: var(--light-brown);
}

.card-text {
    font-style: italic;
    font-size: min(2.2vw, 16px);
}

.card {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 0;
}

.card-hover {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(145, 62, 62) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 0;
}

.fa-trash-alt {
    float: right;
    position: absolute;
    font-size: min(2.5vw, 20px);
    top: 15px;
    right: 15px;
}

.fa-trash-alt:hover {
    color: darkred;
}

hr {
    background-color: var(--mocha);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 16px;
    z-index: 1000;
    border-radius: 5px;
    background-color: var(--chocolate);
    opacity: 85%;
    border: 10px solid var(--chocolate);
}

.results {
    color: var(--lightest-brown);
    font-size: min(2.5vw, 18px);
    border-right: 2px dashed var(--lightest-brown);
}

.fa-plus-circle,.fa-search {
    font-size: min(4vw, 36px);
    color: #fffaf0;
}

#search-icon:hover {
    color: var(--light-brown);
}

p {
    margin: 0;
}

#editForm{
    display:block;
    visibility: visible;
}

.form-control {
    background-color: ghostwhite;
}

.form-control:focus {
    border: 2px solid var(--light-brown);
}

#add-submit {
    max-width: 150px;
}

#add-submit:enabled:hover {
    background-color: var(--mocha);
    color: ghostwhite;
}

#add-submit:enabled:active {
    background-color: var(--light-brown);
}

#add-submit:disabled {
    background-color: gray;
}
