:root {
    --lightest-brown: #C3A995;
    --light-brown: #AB947E;
    --mocha: #6F5E53;
    --chocolate: #593D3B;
}

body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,0.7413340336134453) 100%);
    font-family: 'Lora', serif;
}
.header{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);
    border-bottom: 3px solid var(--chocolate);
    margin-bottom: 10px;
}
img {
    width: min(50vw, 325px);
    margin-bottom: 15px;
}

.card-title {
    font-size: min(5.5vw, 22px);
    margin: 0;
}

.card-body {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    height: min(15vw, 100px);
    /*position: relative;*/
    padding: 0;
}

.card:hover {
    background-color: var(--light-brown);
}

.card-text {
    font-style: italic;
    font-size: min(4vw, 16px);
}

.card {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 0;
}

.card-hover {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(145, 62, 62) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 0;
}

.fa-edit {
    float: left;
    position: absolute;
    font-size: min(2.5vw, 20px);
    top: 15px;
    left: 15px;
}

.fa-trash-alt {
    float: right;
    position: absolute;
    font-size: min(2.5vw, 20px);
    top: 15px;
    right: 15px;
}

.fa-trash-alt:hover, .fa-edit:hover {
    color: darkred;
}

hr {
    background-color: var(--mocha);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 16px;
    z-index: 1000;
    border-radius: 5px;
    background-color: var(--chocolate);
    opacity: 85%;
    border: 10px solid var(--chocolate);
}

.results {
    color: var(--lightest-brown);
    font-size: min(2.5vw, 18px);
    border-right: 2px dashed var(--lightest-brown);
}

.fa-plus-circle,.fa-search {
    font-size: min(4vw, 36px);
    color: #fffaf0;
}

#search-icon:hover {
    color: var(--light-brown);
}

p {
    margin: 0;
}

#editForm{
    display:block;
    visibility: visible;
}

.form-control {
    background-color: ghostwhite;
}

.form-control:focus {
    border: 2px solid var(--light-brown);
}

#add-submit {
    max-width: 150px;
}

#add-submit:enabled:hover {
    background-color: var(--mocha);
    color: ghostwhite;
}

#add-submit:enabled:active {
    background-color: var(--light-brown);
}

#add-submit:disabled {
    background-color: gray;
}

#edit-window {
    background-color: floralwhite;
    position: fixed;
    border: 10px solid var(--mocha);
    border-radius: 10px;
    opacity: 95%;
    width: 35%;
    z-index: 1001;
    top: calc(50% - 103px);
    left: calc(50% - 171px);
}

#edit-name, #edit-roast, #edit-buttons {
    margin: 10px 30px;

}

#edit-name, #edit-roast {
    border: 3px solid var(--chocolate);
}

.edit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    color: floralwhite;
    font-size: 14px;
}

#discard-button, #restore-annihilate {
    background-color: darkred;
}

#discard-button:hover, #restore-annihilate:hover {
    background-color: #be0c0c;
}

#save-button, #restore-item {
    background-color: var(--light-brown);
}

#save-button:hover, #restore-item:hover {
    background-color: var(--mocha);
}

#restore-trash-icon {
    font-size: min(5vw, 48px);
    color: var(--chocolate);
    position: fixed;
    right: 2.5vw;
    bottom: 2.5vw;
    opacity: 80%;
}

#restore-trash-icon:hover {
    opacity: 100%;
}

#restore-window {
    width: 40%;
    position: fixed;
    top: calc(50% - 100px);
    left: 30%;
    z-index: 2000;
    border: 5px solid var(--chocolate);
    border-radius: 5px;
    opacity: 95%;
    background-color: floralwhite;

}

.restore-label {
    padding: 5px 10px;
    margin: 0;
    width: 100%;
}

.even {
    background-color: var(--light-brown);
}

.odd {
    background-color: var(--lightest-brown);
}

#restore-buttons {
    background-color: var(--mocha);
    height: 200px;
}

.restore-button {
    background-color: floralwhite;
    width: 100%;
    margin-bottom: 5px;
}

#restore-annihilate:hover, #restore-item:hover {
    color: floralwhite;
}

#restore-select-all:hover, #restore-unselect-all:hover {
    background-color: var(--lightest-brown);
    color: floralwhite;
}

.restore-list {
    max-height: 200px;
    overflow-y: scroll;
}

.fa-times-circle {
    position: fixed;
    right: 31%;
    top: calc(50% - 105px);
    font-size: 24px;
    z-index: 3000;
    color: var(--mocha);
    background-color: floralwhite;
    opacity: 50%;
    border: 0;
    border-radius: 50%;
}

.fa-times-circle:hover {
    background-color: var(--chocolate);
    color: var(--lightest-brown);
    opacity: 100%;
}